/*GENERAL*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-family: 'Righteous', cursive;
}

h1, h2 {
    font-family: 'Ubuntu Mono', monospace;
}

html /*body*/ {
    height: 100%;
    width: 100%;
    
}

a {
    color: rgb(255, 174, 0);
    text-decoration: none;
}

ul {
    background-color: rgb(69, 62, 62);
    display: flex;
    justify-content:space-around;
    padding: 4px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
    padding: 5px; 
}

.centercontent {
    text-align:center;
    justify-content: center;
    flex-direction: column;  
}

/*
header {
    position: ;
    width: 100%;
} */


li {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 3px;
    padding: 1px 3px;
}

li:hover {
    background-color: grey;
}


footer {
    color: rgb(255, 174, 0);
    background-color: rgb(69, 62, 62);
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 3px;
    width: 100%;
    text-align: end;  
}

body {
    /*background-image: linear-gradient(rgb(0, 238, 255), rgb(0, 153, 255));*/
    background-color: rgb(0, 238, 255);
}

article {
    display: inline-flex;
    padding: 5px;
}

article p {
    padding: 0px 5px;
    border-bottom: 10px;
}

/*Index*/



/*Biografia*/

#fotoperfil {
    border: 5px solid white;
    border-radius: 200px;   
}

p b i{
    font-size: 2.5em;
    display: flex;
    height: auto;
    width: auto;
    justify-content: right;
}



/*Portfolio*/

iframe {
    border: 3px solid gray;
}

.video {
    margin: 5px 10px 10px 10px;
}

/*Contacto*/

form * {
    margin: 5px 5px 5px 10px;
    display: flex;   

}

input {
    border-radius: 5px;
}

p {
    margin: 10px;
}

.social * img {
   width: 25px;
   padding: 3px;
}
section div {
    margin-left: 10px;   
}

input:focus {
    background-color: rgb(213, 209, 209);
    color: darkblue;
}
textarea:focus{
    background-color: rgb(213, 209, 209);
    color: darkblue;
}
.social {
    display: flex;
    justify-content: center;
}

[type|="submit"]:hover {
    background-color: grey;
}

/*Debug*/
/*
main {
    height: 100%;
    display: flex;
    justify-content: center;
}
*/